* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body {
    background-color: black;
    display: flex;
}

.img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box img {
    width: 100%;


}


.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile h2 {
    font-size: 25px;
    text-decoration: underline;
    text-transform: uppercase;

}

.menu {
    background-color: #123;
    width: 40px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 1s;

}

.menu:hover {
    width: 425px;
}


ul {
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a {
    text-decoration: none;
    transition: .5s;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li a:hover,
.active , td:hover{
    background-color: #ffffff55;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a {
    background-color: red;
}

ul li a i {
    font-size: 50px;
}

.content {
    width: 100%;
}

.tital-info {
    background-color: rgb(47, 0, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
gap: 10px;
flex-wrap: wrap; 
}
.data-info .box{
height: 150px;
background-color: #123;
flex-grow: 1;
border-radius: 8px;
display: flex;
align-items: center;
justify-content:space-around;
width: calc( (100%  - 10px) / 2 );
transition: 1s;
}
.data-info .box:hover{
    background-color: #ffffff55;
    
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box span{
font-size: 30px;

}
.data-info .box .data{
  text-align: center;
}
table{
width: 100%;
text-align: center;
border-spacing:10px ;

}
td , th{
background-color: #123;
height: 40px;
border-radius: 10px;
}
th{
    background-color: blue;
}
 

.price, .count{
    padding:6px ;
border-radius: 6px;

}
.price{
background-color: green;

}
.count{
background-color: gold;
color: black;
}



